
@media (orientation: portrait) {   
  #input-container {
    display: grid;
    grid-template-rows: repeat(1fr);
    justify-content: center;
    align-content: center;
    margin-top: 10vh;
  }
  
  .input {
    display: grid;
    grid-template-columns: 20vw 40vw;
    width:max-content;
    padding: 1vh;
    height: fit-content;
    font-size: large;
    border: none;
    background: transparent;
  }

  input{
      border: grey;
  }

  button{
      background-color: rgb(69, 182, 124);
      color: white;
      width: 20vw;
      padding: 2vw;
      margin-top: 5vw;
      border-radius: 5px;
      border-style: hidden;
  }

  #withdrawal{
      margin-left: 20vw;
  }

  #deposit{
      margin-left: 5vw;
  }
}  