
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');


body {
  font-family: 'Cabin', sans-serif;
}

#navbar{
  background-color: rgb(69, 182, 124);
  padding: 4px;
  margin-bottom: 5px;
  display: grid;
  grid-template-areas: "n n n";
}

.nav-item {
  justify-self: left;
  margin: 10px;
  color: white;
  padding: 1px;
  color-adjust: white;
}

a{
  text-decoration: none;
  color: white;
  font-weight: 400;
}

#logo{
  font-weight: 600;
}

